include WHATSNEW
include README.rst
include LICENSE
include AUTHORS
include CONTRIBUTING.rst
include requirements-dev.txt

include setup.py

recursive-include bin *
recursive-include douglas *
recursive-include douglas/data *
recursive-include douglas/themes *
recursive-include douglas/tests *
recursive-include docs *
