include WHATSNEW
include README.rst
include INSTALL
include LICENSE
include AUTHORS
include UPGRADE

include setup.py

recursive-include bin *
recursive-include douglas *
recursive-include douglas/data *
recursive-include douglas/themes *
recursive-include douglas/tests *
recursive-include docs *
