<!DOCTYPE html>
<html>
  <head>
    <title>{{ blog_title }} : {{ pi_bl }}</title>
    <link rel="top" href="{{ base_url }}/" title="{{ blog_title }}">
    <meta name="author" content="{{ blog_author }}">
    <meta http-equiv="Content-Type" content="text/html; charset={{ blog_encoding }}">
    <link rel="alternate" type="application/rss+xml" href="{{ base_url }}/index.rss">
  </head>
  <body>
    <h1>{{ blog_title }}</h1>

{% block navigation %}
    <p>
      [
      <a href="{{ base_url }}/">Home</a>
      |
      <a href="{{ base_url }}/index.rss">RSS 2.0</a>
      ]
    </p>
{% endblock navigation %}

{% block content %}
{% endblock content %}

{% block footer %}
    <p>
      {{ blog_rights }}
    </p>
    <p>
      Powered with <a href="http://github.com/willkg/douglas/">Douglas</a>
      {{ douglas_name }}::{{ douglas_version }}
    </p>
{% endblock %}
  </body>
</html>
